<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">API</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/view/usergame">user game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view/biodata">user game biodata</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view/history">user game history</a>
      </li>
    </ul>
  </nav>